{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget_buy_form %}
    {% if page.alphaMarketingBanners %}
        {% set activeCategoryId = page.header.navigation.active.id %}

        {% for banner in page.alphaMarketingBanners %}
            {% set bannerBackgroundColor = banner.backgroundColor %}
            {% set bannerTextColor = banner.textColor %}
            {% set bannerBorder = banner.border %}
            <div class="product-detail-marketing-banner"
                 style="{% if bannerBackgroundColor %}background-color: {{ bannerBackgroundColor }};{% endif %}
                         {% if bannerBorder %}border: {{ bannerBorder }};{% endif %}
                     {% if bannerTextColor %}color: {{ bannerTextColor }};{% endif %}">
                {% set element = banner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endfor %}
    {% endif %}

    {{ parent() }}
{% endblock %}